$web-padding: 20px;
$font-size: 1.05rem;
$web-font-family: "Inter", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$main-color: #ffffff;
$main-graphic-color: #f8ce47;
$color-titles: #000;
$color-info: #828282;
$color-details: #fff;
