.mark-list {
  &__divider {
    display: flex;
    height: 1px;
    background-color: #c4c4c4;
    margin-bottom: 20px;
  }

  .cards-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 30px;
    justify-content: center;

    @media (min-width: 769px) {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  .cards-list__item {
    width: 100%;
    @media (min-width: 769px) {
      width: auto;
    }
  }
}
